{% load i18n static admin_static admin_urls %}

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<div id="toolbar">

    <form id="changelist-search" method="get">
        {{ asf.media }}
        <div><!-- DIV needed for valid HTML -->
            {% block custom_search_form %}

            {% endblock %}
            <input type="submit" value="{% trans 'Search' %}" />


            <button type="button" onclick="window.location='{{ request.path }}'" class="button"> Limpiar</button>



            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
{#            <a  title="Eliminar" href=""> Reporte ventas </a>#}

            <button id="repor2" type="button" class="button"> Reporte ventas </button>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button id="repor3" type="button" class="button"> Lista de productos vendidos </button>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button id="repor4" type="button" class="button"> Stock de productos </button>

            {% if show_result_count %}
                <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
            {% endif %}

            {% for pair in cl.params.items %}
                {% if pair.0 != search_var %}
                    <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
                {% endif %}
            {% endfor %}
{#            <input type="submit" value="{% trans 'excel' %}" href="/excel/" />#}
{#            <input type="button" value="{% trans 'excel' %}" href="/excel/" />#}
        <br>
        <br>

{#            <big><a id="informereporte" href="">Imprimer Reporte</a></big>#}
{#            <a id="repor" class="btn btn-link"   > PLANILLA DE COBRANZA </a>#}
        <br>

        </div>


    </form>
</div>
